In [22]:
import pandas as pd 
from pandasql import sqldf

hitters_all = pd.read_csv("batting.csv")
top_hittters_list = hitters_all.loc[hitters_all['WAR'] > 9.402515].index.tolist() #4 std from mean
top_hitters_df = hitters_all.iloc[top_hittters_list]

In [17]:
columns = hitters_all.columns

with open('readme.txt', 'w') as f:
    f.writelines("The columns are")
    for column in columns:
        f.writelines(column)
        f.write('\n')

In [18]:
hitters_all['WAR'].describe()

count    7114.000000
mean        1.672983
std         1.932383
min        -3.400000
25%         0.300000
50%         1.300000
75%         2.700000
max        12.700000
Name: WAR, dtype: float64

In [29]:
basic_stats = ['Season', 'Name', 'Team', 'Age', 'AVG', 'SLG', 'WAR', 'AB', 'PA', 'H', '1B', '2B', '3B', 'HR', 'R', 'RBI', 'BB', 'IBB', 'SO', 'BB%', 'K%', 'BB/K', 'OBP', 'SLG', 'OPS']
all_basic = hitters_all[basic_stats]
top_hitters_basics = top_hitters_df[basic_stats]
all_basic.head()

,Season,Name,Team,Age,AVG,SLG,WAR,AB,PA,H,...,RBI,BB,IBB,SO,BB%,K%,BB/K,OBP,SLG,OPS
0,2002,Barry Bonds,SFG,37,0.370,0.799,12.7,403,612,149,...,110,198,68,47,0.324,0.077,4.21,0.582,0.799,1.381
1,2004,Barry Bonds,SFG,39,0.362,0.812,11.9,373,617,135,...,101,232,120,41,0.376,0.066,5.66,0.609,0.812,1.422
2,2022,Aaron Judge,NYY,30,0.311,0.686,11.4,570,696,177,...,131,111,19,175,0.159,0.251,0.63,0.425,0.686,1.111
3,2018,Mookie Betts,BOS,25,0.346,0.640,10.5,520,614,180,...,80,81,8,91,0.132,0.148,0.89,0.438,0.640,1.078
4,2003,Barry Bonds,SFG,38,0.341,0.749,10.2,390,550,133,...,90,148,61,58,0.269,0.105,2.55,0.529,0.749,1.278

In [39]:
all_basic['Team'].unique()

array(['SFG', 'NYY', 'BOS', 'LAA', 'TEX', 'LAD', 'STL', 'WSN', 'TBR',
       'TOR', 'DET', 'ATL', 'MIN', 'NYM', 'PHI', 'MIL', 'HOU', 'CLE',
       'PIT', 'CHC', 'FLA', 'SEA', 'SDP', 'CIN', 'OAK', 'ARI', 'MON',
       'BAL', 'COL', '- - -', 'KCR', 'MIA', 'CHW', 'TBD', 'ANA'],
      dtype=object)

In [51]:
query = "SELECT Season, Name, Team, AVG, SLG, OBP, WAR, AB\
      from all_basic WHERE Team = 'CHW' AND Season = 2022"
slash_line_CWS = sqldf(query)
slash_line_CWS.sort_values(by=['WAR'], ascending=False)

    Season             Name Team    AVG    SLG    OBP  WAR   AB
0     2022       Jose Abreu  CHW  0.304  0.446  0.378  3.9  601
1     2022      Luis Robert  CHW  0.284  0.426  0.319  2.1  380
2     2022     Tim Anderson  CHW  0.301  0.395  0.339  2.0  332
3     2022      Seby Zavala  CHW  0.270  0.382  0.347  1.9  178
4     2022     Eloy Jimenez  CHW  0.295  0.500  0.358  1.7  292
5     2022    Josh Harrison  CHW  0.256  0.370  0.317  1.4  386
6     2022     Yoan Moncada  CHW  0.212  0.353  0.273  0.9  397
7     2022     A.J. Pollock  CHW  0.245  0.389  0.292  0.5  489
8     2022     Gavin Sheets  CHW  0.241  0.411  0.295  0.1  377
9     2022       Adam Engel  CHW  0.224  0.310  0.269 -0.1  245
10    2022    Andrew Vaughn  CHW  0.271  0.429  0.321 -0.4  510
11    2022  Yasmani Grandal  CHW  0.202  0.269  0.301 -0.4  327
12    2022     Leury Garcia  CHW  0.210  0.267  0.233 -1.1  300