In [51]:
import pandas as pd 
import pandasql as sqldf

hitters_all = pd.read_csv("batting.csv")
top_hittters_list = hitters_all.loc[hitters_all['WAR'] > 9.402515].index.tolist() #4 std from mean
top_hitters_df = hitters_all.iloc[top_hittters_list]

In [54]:
#hitters_all['WAR'].describe()
hitters_all.columns

Index(['Index', 'IDfg', 'Season', 'Name', 'Team', 'Age', 'G', 'AB', 'PA', 'H',
       ...
       'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%', 'xBA',
       'xSLG', 'xwOBA', 'L-WAR'],
      dtype='object', length=321)

In [58]:
top_hitters_basics = top_hitters_df[['Season', 'Name', 'Team', 'Age', 'AVG', 'SLG', 'WAR']]
top_hitters_basics.head()

   Season          Name Team  Age    AVG    SLG   WAR
0    2002   Barry Bonds  SFG   37  0.370  0.799  12.7
1    2004   Barry Bonds  SFG   39  0.362  0.812  11.9
2    2022   Aaron Judge  NYY   30  0.311  0.686  11.4
3    2018  Mookie Betts  BOS   25  0.346  0.640  10.5
4    2003   Barry Bonds  SFG   38  0.341  0.749  10.2

In [17]:
all_giants = sqldf("SELECT * FROM hitters WHERE(Team = SFG)")
all_giants

TypeError: 'module' object is not callable